name: Compile PDFs

on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    container: texlive/texlive:latest
    env:
      max-print-line: 2147483647

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Compile
      run: make

    - uses: actions/upload-artifact@v4
      with:
        name: code
        path: code/*.pdf
